[Desktop Entry]
Version=1.0
Name=electron-codeorg-minecraft-root.sh-portable-GR1.appimage
Exec=/appimages/education/electron-codeorg-minecraft-root.sh-portable-GR1.appimage
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=
Categories=Network;Education;Games;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=firefox
StartupNotify=true
