[Desktop Entry]
Name=muCommander
Comment=A lightweight, cross-platform file manager
Exec=mucommander
Icon=mucommander
Terminal=false
Type=Application
Categories=Application;FileManager;Utility;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/mucommander.desktop
