[Desktop Entry]
Version=1.0
Type=Application
Exec=obshutdown
Icon=/usr/share/pixmaps/gnome-shutdown.png
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
Name=Logout
X-XFCE-Source=file:///root/xfce4-session-logout.desktop
