[Desktop Entry]
Version=1.0
Type=Application
Name=CreateSave
Comment=
Exec=mk-save.gtkdlg
Icon=preferences-other
Path=
Terminal=false
StartupNotify=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
