[Desktop Entry]
Version=1.0
Type=Application
Name=Installer
Comment=
Exec=debdog-install
Icon=install
Path=
Terminal=false
StartupNotify=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel
