[Desktop Entry]
Version=1.0
Type=Application
Name=Dog Control Center
Comment=
Exec=dog-ctrl-center
Icon=dog-control
Terminal=false
StartupNotify=false
Categories=Settings;DebianDog
