[Desktop Entry]
Version=1.0
Type=Application
Name=DogRadio
Comment=
Exec=dogradio
Icon=internetradio
Terminal=false
StartupNotify=false
Categories=AudioVideo
