[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/PicDrop.desktop]
row=1
col=8

[/root/Desktop/mtpaint.desktop]
row=0
col=4

[/root/Desktop/conkytoggle.desktop]
row=0
col=8

[/root/Desktop/Puppy Linux Discussion Forum __ View topic - Light-Debian-Core-Live-CD-Wheezy + Porteus-Wheezy.desktop]
row=1
col=5

[/root/Desktop/gnome-mplayer.desktop]
row=0
col=3

[/root/Desktop/libreoffice4.2-writer.desktop]
row=8
col=0

[/root/Desktop/tuxtype.desktop]
row=10
col=0

[/root/Desktop/synaptic.desktop]
row=0
col=2

[/root/Desktop/DogRadio.desktop]
row=0
col=9

[/root/Desktop/SFSdrop.desktop]
row=1
col=2

[/root/Desktop/tuxmath.desktop]
row=11
col=0

[/root/Desktop/gtk-youtube-viewer.desktop]
row=1
col=6

[/root/Desktop/Create Savefile.desktop]
row=0
col=5

[/root/Desktop/firefox.desktop]
row=1
col=4

[/root/Desktop/Remaster-porteus-wheezy.desktop]
row=0
col=6

[/root/Desktop/DebianDog-Installer.desktop]
row=0
col=7

[/root/Desktop/tuxpaint-with-config.desktop]
row=9
col=0

[/root/Desktop/leafpad.desktop]
row=1
col=3

[/root/Desktop/scratch.desktop]
row=0
col=1

[/root/Desktop/firefox10-puppy-sdb1.sh]
row=7
col=0

[/root/Desktop/libreoffice4.2-calc.desktop]
row=1
col=1

[/root/Desktop/Dog Control Center.desktop]
row=1
col=9

[/root/Desktop/exo-terminal-emulator.desktop]
row=1
col=7

[2674B02074AFF12B]
row=4
col=0

[BCD4CF31D4CEECA8]
row=2
col=0

[6c9a9926-48b2-4529-8b4a-755658ac5b07]
row=5
col=0

[3C18DAC318DA7B7A]
row=3
col=0

[b8f9afdd-17fd-45fa-98cc-ef652a37728c]
row=6
col=0

[/]
row=1
col=0

[/root]
row=0
col=0

