[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/PicDrop.desktop]
row=1
col=8

[/root/Desktop/mtpaint.desktop]
row=0
col=4

[/root/Desktop/conkytoggle.desktop]
row=0
col=8

[/root/Desktop/Puppy Linux Discussion Forum __ View topic - Light-Debian-Core-Live-CD-Wheezy + Porteus-Wheezy.desktop]
row=1
col=5

[/root/Desktop/gnome-mplayer.desktop]
row=0
col=3

[/root/Desktop/synaptic.desktop]
row=0
col=2

[/root/Desktop/DogRadio.desktop]
row=0
col=9

[/root/Desktop/gtk-youtube-viewer.desktop]
row=1
col=6

[/root/Desktop/firefox.desktop]
row=1
col=4

[/root/Desktop/Create Savefile.desktop]
row=0
col=5

[/root/Desktop/dblcommander.desktop]
row=5
col=0

[/root/Desktop/Remaster-porteus-wheezy.desktop]
row=0
col=6

[/root/Desktop/DebianDog-Installer.desktop]
row=0
col=7

[/root/Desktop/peasymp3.desktop]
row=1
col=2

[/root/Desktop/leafpad.desktop]
row=1
col=3

[/root/Desktop/palemoon.desktop]
row=6
col=0

[/root/Desktop/exo-terminal-emulator.desktop]
row=1
col=7

[/root/Desktop/Dog Control Center.desktop]
row=1
col=9

[a72718ed-b6a5-4fea-9f1b-c0903bb7d053]
row=3
col=0

[0091E34C2429C1B6]
row=2
col=0

[c9679f44-5bc1-40ca-b224-c6a5294102df]
row=4
col=0

[/]
row=1
col=0

[/root]
row=0
col=0

